.layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.5rem;
  background-color: var(--surface-card);
  z-index: 100; /* Garante que fique acima de outros elementos */
  background-color: var(--surface-card);
}
